@import 'tailwindcss';

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-inter), 'Noto Sans CJK KR', sans-serif;
}

#nav_shadow {
	box-shadow:
		3px 3px 6px rgba(0, 0, 0, 0.08) inset,
		-3px -3px 6px rgba(0, 0, 0, 0.08) inset;
}
